<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load FAVICON -->
    <link rel="icon" href="favicon.ico"/>
    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- Load CSS -->
    <link rel="stylesheet" href="./static/css/layout.css"> 
    <link rel="stylesheet" href="./static/css/index.css">

    <title>Main</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="HOME">
            <div class="logo"></div>
        </a>
        <nav>
            <a class="nav--itm" href="HOME">HOME</a>
            <a class="nav--itm" href="PROFILE">PROFILE</a>
            <a class="nav--itm" href="HOBBY">HOBBY</a>
        </nav>
    </header>
    
    <!-- MAIN -->
    <main class="main">
        <div class="textList--wrapper">
            <ul class="textList">
                <li class="textList__itm"></li>
                <li class="textList__itm"></li>
                <li class="textList__itm"></li>
            </ul>
        </div>
    </main>

    <footer class="footer">
    </footer>
</body>
</html>