<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load FAVICON -->
    <link rel="icon" href="../favicon.ico"/>
    <link rel="shortcut icon" href="../favicon.ico"/>

    <!-- Load CSS -->
    <link rel="stylesheet" href="../static/css/layout.css"> 
    <link rel="stylesheet" href="../static/css/hobby.css">

    <title>PROFILE</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <!-- LOGO -->
        <a href="../index.html">
            <div class="logo"></div>
        </a>

        <!-- NAV BAR -->
        <nav>
            <a class="nav--itm" href="../index.html">HOME</a>
            <a class="nav--itm" href="./profile.html">PROFILE</a>
            <a class="nav--itm" href="./hobby.html">HOBBY</a>
        </nav>
    </header>
    
    <!-- MAIN -->
    <div class="container">
        <!-- MAIN CONTENT -->
        <main class="main">
        </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
    </footer>
</body>
</html>